@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;

}
section#telefone{
    position: absolute;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
}
iframe#tela{
    position: relative;
    left: 23px;
    top: 81px;
    height: 470px;
    width: 266px;

}
#redes{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 30px;
}
#redes img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 5px 20px cornsilk;
}
#redes  img:hover{
    border: 1px solid white;
    transform: translate(-50px, -50px);
    transition:transform(1) ;
}
